

body {
    font-family: serif;
    padding: 20px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.custName, .selOrder {
    width: 200px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#btn {
    display: block;
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

